services:
 - docker


before_install:
  - docker build -t frontend-test -f frontend/Dockerfile.dev ./frontend 

script: docker run frontend-test npm run test


deploy:
  provider: elasticbeanstalk
  region: eu-west-2
  app: docker-frontend
  env: DockerFrontend-env
  bucket_name: elasticbeanstalk-eu-west-2-099893186618
  bucket_path: docker-frontend
  on:
    branch: master
  access_key_id: $AWS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY